/* ---------------------------------------------------- */
header {
background-color: #333;
color: white;
padding: 10px 20px;
display: flex;
justify-content: space-between;
align-items: center;
}


.navegacao {
display: flex;
gap: 15px;
}


.navegacao a {
color: white;
text-decoration: none;
cursor: pointer;
}


.container {
padding: 20px;
}


/* LISTA DE PRODUTOS */
.produtos-container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 20px;
}


.produto-card {
background-color: white;
padding: 10px;
border-radius: 6px;
box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


.produto-card img {
width: 100%;
height: 150px;
object-fit: cover;
border-radius: 6px;
}


/* PAGINAÇÃO */
.paginacao {
margin-top: 20px;
display: flex;
justify-content: center;
gap: 10px;
}


.paginacao button {
padding: 8px 12px;
border: none;
cursor: pointer;
background-color: #333;
color: white;
border-radius: 4px;
}


.paginacao button:disabled {
background-color: #999;
cursor: not-allowed;
}